/* total styles */

#main-div {
    width: 700px;
    margin: auto;
}

#selectorsBlock {
    width: 700px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}

#info_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* map */


/* Sankey */

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}


/* scatter */

#scatter_chart {
    position: relative;
}

#scatter_chart .tooltip {
    position: absolute;
}


/* hierarchy */

.node {
    font: 10px sans-serif;
}

.link {
    stroke: steelblue;
    stroke-opacity: 0.5;
    fill: none;
    pointer-events: none;
}