/* total styles */

#main-div {
    width: 600px;
    margin: auto;
}

#selectorsBlock {
    width: 590px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}


/* #legend_block {
    margin-bottom: 5vh;
} */

.bord-shad-style {
    border: solid 1px #ccc;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #444444;
    background-color: #fff;
    padding: auto;
}

#info_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.download-button {
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #444444;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #ccc;
    width: 150px;
    height: 30px;
    margin: 10px;
}

.download-button:hover {
    background-color: #88cc33;
}


/* map */


/* pie */

#pieChartBlock {
    width: 350px;
    height: 350px;
}


/* Sankey */

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}


/* scatter */

#scatter_chart {
    position: relative;
}

#scatter_chart .tooltip {
    position: absolute;
}

.grid .tick line {
    stroke: gray;
    opacity: 0.5;
    width: 1px;
}

.grid path {
    opacity: 0;
}


/* line */

#line_chart {
    cursor: help;
}

#line_chart>svg>g>g>g>g>text {
    z-index: 999;
    position: absolute;
    font-size: 12px;
}


/* hierarchy */

.node {
    font: 10px sans-serif;
}

.link {
    stroke: steelblue;
    stroke-opacity: 0.5;
    fill: none;
    pointer-events: none;
}